@page
@model Fluentify.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>

    <p>
        This is a project of a student of LNU University.
        In this project, I will try to make a copy of the Duolingo website.
        I will use google speech recognition and Text-to-Speech apis.
        I hope this project will be really useful and convenient to use.
    </p>

    <p>
        Thank you for viewing this page
    </p>
</div>