@page
@model Fluentify.Web.Pages.Shared.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
@using Microsoft.AspNetCore.Identity
@using Fluentify.Web.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white position-fixed" style="width: 280px; height: 91%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="~/image/Icons/menu.svg" width="40" height="32" />
            <span class="fs-4">Menu</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item text-dark">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-dark" aria-current="page">
                    <img src="~/image/Icons/house.svg" width="16" height="16" />
                    Home
                </a>
            </li>
            <li class="nav-item text-dark">
                <a href="Study" class="nav-link text-dark" aria-current="page">
                    <img src="~/image/Icons/book.svg" width="16" height="16" />
                    Study
                </a>
            </li>
            <li>
                <a href="Dashboard" class="nav-link  active">
                    <img src="~/image/Icons/dash.svg" width="16" height="16" />
                    Dashboard
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>@UserManager.GetUserName(User)</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-white text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <h1>Please Register or Login into Fluentify</h1>
}
